#post {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: 0.1s;
  background-color: #232033;
}
#post:hover {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(26, 25, 39, 0.342);
  -moz-box-shadow: 0px 0px 24px 0px rgba(26, 25, 39, 0.342);
  box-shadow: 0px 0px 24px 0px rgba(26, 25, 39, 0.342);
  transition: 0.1s;
  background-color: #2a263d;
}
.shadow {
  -webkit-box-shadow: inset 0px -100px 55px 57px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0px -100px 55px 57px rgba(255, 255, 255, 1);
  box-shadow: inset 0px -100px 55px 57px rgba(255, 255, 255, 1);
}
.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
#join {
  transition: all 0.2s;
}
#join:hover {
  box-shadow: 0px 0px 10px 0px rgba(203, 124, 255, 0.178);
  transition: all 0.1s;
}

#mini-profile {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
}
/*---------------------FETCH VERSION*/
#mini-profile-fetch {
  display: none;
}
#profile-picture-post-fetch:hover #mini-profile-fetch {
  transition-delay: 0.2s;
  display: block;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(223, 193, 223, 0.26);
  -moz-box-shadow: 0px 0px 24px 0px rgba(223, 193, 223, 0.26);
  box-shadow: 0px 0px 24px 0px rgba(223, 193, 223, 0.26);
}
/*---------------------FETCH VERSION END*/
.post-icons {
  color: #cccadf !important;
  cursor: pointer;
}
.post-icons:hover {
  transition: 0.2s;
  color: #fcefff !important;
}
#profile-picture-post:hover #mini-profile {
  transition-delay: 0.3s;
  visibility: visible;
  opacity: 1;

  -webkit-box-shadow: 0px 0px 24px 0px rgba(223, 193, 223, 0.26);
  -moz-box-shadow: 0px 0px 24px 0px rgba(223, 193, 223, 0.26);
  box-shadow: 0px 0px 24px 0px rgba(223, 193, 223, 0.26);
}
#gradient {
  background: rgb(31, 29, 45);
  background: linear-gradient(
    0deg,
    rgba(31, 29, 45, 1) 44%,
    rgba(255, 255, 255, 0) 100%
  );
}
#post-options {
  border-radius: 50%;
  transition: all 0.2s;
  color: #cccadf !important;
}
#post-options:hover {
  transition: all 0.2s;
  color: #fcefff !important;
}
#dropdown-window {
  background-color: #322e4f;
}
.dropdown-buttons:hover {
  background-color: #454163 !important;
}

/* * {
  outline: 1px solid #f00 !important;
} */
.group-modal-repo-button {
  background: none !important;
  border: none !important;
  padding: 0.5rem !important;
  border-radius: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
}
.group-modal-repo-button:hover {
  background: #392d4b !important;
  /* border: none !important;
  padding: 0.5rem !important;
  border-radius: 15px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem; */
}
.group-modal-repo-button-active {
  background: #392d4b !important;
  border: none !important;
  padding: 0.5rem !important;
  border-radius: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
}
