/* The design was made by Oleg Frolov and taken from https://dribbble.com/shots/3368130-Stepper-Touch  */

/* Actual input */
.parentdiv {
  font-family: "Varela Round", sans-serif;
  font-size: 1.4rem;
  line-height: 1.6;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-number {
  position: relative;
  width: 100px;
  height: 40px;

  overflow: hidden;
  border-radius: 20px;
  margin: 2px;
}

.input-number span {
  position: absolute;
  left: 50%;
  margin-left: -20px;
  display: inline-block;
  background-color: #55466d;
  height: 100%;
  width: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  color: #e4c7ff;
  letter-spacing: -1px;
}

.input-number button {
  display: inline-block;
  width: 50px;
  height: 100%;
  background-color: transparent;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  background-color: #3f3452;
  transition: background-color 0.2s ease;
}

.input-number button:nth-of-type(1) {
  padding-right: 20px;
}

.input-number button:nth-of-type(2) {
  padding-left: 20px;
}

.input-number button:hover {
  background-color: #55466d;
}
