.sidebar-button-div {
  display: grid;
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
}
.modal-content {
  background-color: #262337 !important;
  box-sizing: "content-box" !important;
}
.form-control {
  color: rgb(209, 209, 209) !important;
}
.form-control:focus {
  box-shadow: none !important;
  color: white !important;
}
#dropdown-buttons:hover {
  background-color: #454163 !important;
}
.custom-nav {
  background: rgb(31, 29, 45);
  background: linear-gradient(
    0deg,
    rgba(31, 29, 45, 1) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}
/* .switch-button {
  background-color: #2e2a42 !important;
  color: white !important;
} */

.switch-button-public {
  background-color: #46395b !important;
  border: 0 !important;
}
.switch-button-private {
  background-color: #362e44 !important;
  border: 0 !important;
}
.select-language {
  background-color: #46395b !important;
  color: white;
}
.choose-image .form-control {
  background: #232133 !important;
  border: none;
}
.options-left-sidebar-button {
  background-color: transparent !important;
  border: 0 !important;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.options-left-sidebar-button:hover {
  background-color: #3f3452 !important;
}
.delete-image-preview {
  opacity: 0;
}
.post-image-preview:hover {
  transition: 0.2s;
  opacity: 0.8;
}

#top-end {
  position: absolute;
  top: 0%;
  right: 0%;
}

#pfp-left-sidebar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#pfp-left-sidebar:hover {
  opacity: 0.9;
}

#left-sidebar {
  position: sticky !important;
  background-color: #1f1d2d !important;
  min-width: 80px;
  width: 250px;
  min-width: 250px;
  height: 100vh;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  border-right: 1px solid rgba(255, 255, 255, 0.192);
  /* overflow-y: hidden;
  overflow-x: visible; */
}
#left-sidebar-content-sm {
  display: none;
}
@media only screen and (max-width: 1280px) {
  #left-sidebar {
    width: 80px;
    min-width: 80px;
  }
  #left-sidebar-content-xl {
    display: none;
  }
  #left-sidebar-content-sm {
    display: block;
  }
}
#center-bottom {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 100%);
}
.accordion-button,
.accordion-button:focus,
.accordion-button:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #3f3452 !important;
  border: 0 !important;
  color: #cccadf !important;
}
.accordion-post-group {
  outline: none !important;
  box-shadow: none !important;
  background-color: #3f3452 !important;
  border: 0 !important;
  color: #cccadf !important;
}
