.sidebar-button-div {
  display: grid;
  padding-left: 2rem;
  padding-right: 2rem;
  text-decoration: none;
}
.modal-content {
  background-color: #262337 !important;
  box-sizing: "content-box" !important;
}
.form-control {
  color: rgb(209, 209, 209) !important;
}
.form-control:focus {
  box-shadow: none !important;
  color: white !important;
}
#dropdown-buttons:hover {
  background-color: #454163 !important;
}
.custom-nav {
  background: rgb(31, 29, 45);
  background: linear-gradient(
    0deg,
    rgba(31, 29, 45, 1) 75%,
    rgba(255, 255, 255, 0) 100%
  );
}
/* .switch-button {
  background-color: #2e2a42 !important;
  color: white !important;
} */

.switch-button-public {
  background-color: #46395b !important;
  border: 0 !important;
}
.switch-button-private {
  background-color: #362e44 !important;
  border: 0 !important;
}
.select-language {
  background-color: #46395b !important;
  color: white;
}
.choose-image .form-control {
  background-color: #3f3452 !important;
  border: none;
}
