#center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.center-fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.active-button {
  color: #c4a7e7 !important;
  background: #373249 !important;
  border: none !important;
  padding: 0.5rem !important;
  border-radius: 15px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
}
.active-button:hover {
  background: #443d5a !important;
}
.sidebar-button {
  color: #dbccec !important;
  background: none !important;
  border: none !important;
  padding: 0.5rem !important;
  border-radius: 15px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
}
.sidebar-button:hover {
  color: #c4a7e7 !important;
  background: #373249 !important;
  border: none !important;
}
.sidebar-button-rounded {
  color: #dbccec !important;
  background: none !important;
  border: none !important;
  padding: 0.5rem !important;
  margin: 0.25rem 0 0.25rem 0;
  border-radius: 50% !important;
}
.danger-button {
  color: #e66666 !important;
  background: none !important;
  border-radius: none !important;
  border: none !important;
  font-size: 16px !important;
}
.danger-text {
  color: #e66666 !important;
}
.danger-button:hover {
  background: #493247 !important;
}
.post-footer-icon {
  color: #dbccec !important;
}
.text-color {
  color: #cccadf !important;
}
.bg-light-color {
  background-color: #322e4f !important;
  border: none !important;
}
.bg-darker-color {
  background-color: #1f1d2d !important;
  border: none !important;
}
.gradient-button {
  color: rgb(52, 0, 59) !important;
  background-image: linear-gradient(
    to right,
    #edbbff,
    #ffb7e0,
    #ffbdbc,
    #ffcda1,
    #ffe099
  );
  border: none !important;
  font-size: 18px !important;
}

.gradient-button:active {
  transform: scale(1.01);
}

.center-flex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
img.background {
  /*LOGIN PAGE BG*/
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
  filter: blur(3px);
  opacity: 0.5;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  object-fit: cover;
}
.bg-img {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
.glass {
  /* From https://css.glass */
  background: rgba(25, 23, 36, 0.6) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(8.9px) !important;
  -webkit-backdrop-filter: blur(8.9px) !important;
}
.glass-card {
  /* From https://css.glass */
  background: rgba(25, 23, 36, 0.6) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  -webkit-backdrop-filter: blur(8.9px) !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
/*                                   TOOLTIP                                         */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
