@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500&display=swap");
#main-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px !important;
}
.logo {
  font-family: "Kanit", sans-serif;
}
